*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding: 1.3rem;
    background-color:blueviolet;
    color:whitesmoke;
    letter-spacing: 0.3rem;
}

nav{
    width: 100%;
    margin-block: 1rem;
    padding: 1rem;
    background-color: cadetblue;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap:2rem;
    
}
nav ul li a{
    text-decoration: none;
    color:white;
}